.banner {
    padding-top:40px;
}

.navbar-custom {
    background-color:rgba(255,255,255,0.5);
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    background-color:rgba(255,255,255,0.5);
}

/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
    background-color:rgba(255,255,255,0.5);
}

.navbar-custom .navbar-light .navbar-brand:hover, .navbar-custom .navbar-light .navbar-brand:focus {
    background-color: rgba(192,192,192);
}

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
    background-color:rgba(255,255,255,0.5);
}
.navbar-custom .dropdown-item {
    color: #ffffff;
    background-color:rgba(255,255,255,0.5);
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color:rgba(255,255,255,0.5);
}
hr {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

h1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}
h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 25%;
    height: 1px;
    content: '\a0';
    margin-right: 5%;
    background-color: rgba(192,192,192);

}
h1:before {
    margin-left: -25%;
    text-align: right;
}
.color {
    background-color: #ccc;
}

/* headlines with lines */
.decorated{
     overflow: hidden;
     text-align: center;
 }
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 100vw;
    margin: 0 20px;
    color: rgba(192,192,192);
}
.decorated > span:before{
    right: 100%;
}
.decorated > span:after{
    left: 100%;
}