<link rel="stylesheet"
	type="text/css"
		href="{{ url_for('static', filename='./css/bootstrap.css') }}">

{% extends "base.html" %}

{% block content %}
<h1 class="title invitation">
	Dear {{guests}}
</h1>

<h1 class="title invitation">
	{{gettext('The honor of your presence is requested at the marriage of Kristian and Vera')}}
</h1>

<h1 class="title invitation">
	{{gettext('Saturday the 11th of June 2022 in the church of Saltvik at 3pm')}}
</h1>

{% endblock %}

<!--<div class="col-md-3 col-md-offset-1">
	<h4>Welcome to Kristian and Veras wedding</h4>
	<h5>Here you will find information about the entire weekend, respond to the invitation, view images and much more</h5>
</div>-->

<br/>
