<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{gettext('Wedding invitation')}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/bootstrap.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/bootstrap.rtl.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/bootstrap-grid.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/bootstrap-utilities.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/bootstrap-reboot.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/custom.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='./css/bootstrap-icons.css') }}">
    <script crossorigin="anonymous" src="{{ url_for('static', filename='./js/jquery-3.3.1.slim.min.js')}}"></script>
    <script crossorigin="anonymous" src="{{ url_for('static', filename='./js/popper.min.js')}}"></script>
    <script crossorigin="anonymous" src="{{ url_for('static', filename='./js/bootstrap.min.js')}}"></script>
    <script crossorigin="anonymous" src="{{ url_for('static', filename='./js/bootstrap.bundle.min.js')}}"></script>
    <script crossorigin="anonymous" src="{{ url_for('static', filename='./js/custom.js')}}"></script>
</head>

<body>
<section class="hero is-medium">
    <div class="container">
        <nav class="navbar-text navbar-light navbar-nav navbar-brand fixed-top w-100 navbar-custom">
            <div class="col-sm-2">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="{{ url_for('main.index') }}">Home <span
                                class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.osa') }}">RSVP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.schedule') }}">Itinerary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.faq') }}">Travel and accomodation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.gallery') }}">Our story</a>
                    </li>
                    {% if current_user.username == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.signup') }}">Add guests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('main.responses') }}">Responses</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <img src="/static/img/wedding1.jpg" class="img-fluid banner">
        {% if current_user.is_authenticated %}
            <div class="col-sm-4 offset-sm-4">
                <div class="text-center text-muted fs-6 timer border rounded-pill" id="countdown">
            </div>
        {% endif %}
    </div>
    <div class="hero-body wedding-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>


</section>
</body>

</html>