{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="text-start text-muted fs-6 col-md-3 col-md-offset-1">
		<div><b>{{gettext('Location?')}}</b></div>
	</div>
	<div class="text-start text-muted fs-6  col-md-6 col-md-offset-1">
		<div>{{gettext('The wedding takes place on the Åland Islands in Finland. The ceremony in the ')}}<a href="https://goo.gl/maps/jAPNTHfyGBnojdka9">church of Saltvik</a>
		and the reception at <a href="https://www.karingsund.ax/en">Käringsund Resort & Conference</a></div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
		<div><b>{{gettext('Where to stay?')}}</b></div>
	</div>
	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-1">
		<div>There are several hotels close by to the resort where the reception is held. We suggest at you stay at that resort and
			guests that stay at Käringsund Resort & Conference are offered a discount of 15% on the room charge. Please use the code VERA&KRISTIAN when doing reservations.
			Of course it is also possible to stay in the city of <a href="https://goo.gl/maps/aJF2oEaHd5YsNttY9">Mariehamn</a> for guests that want to spend time there aswell. The city is
		about 35 minute drive from the Käringsund resort.</div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
		<div><b>{{gettext('How to get there?')}}</b></div>
	</div>
	<div class="text-start text-muted fs-6  col-md-6 col-md-offset-1">
		<div>The easiset way, travelling from outside of Sweden or Finland, is to fly to
			<a href="https://goo.gl/maps/evgpw6ekyd1aVndRA">Arlanda Airport</a>  or <a href="https://g.page/stockholmskavstaairport?share">Skavsta Airport</a>.
			We suggest Arlanda because it is closer and there are more flights.
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
	</div>
	<div class="text-start text-muted fs-6 col-md-6 col-md-offset-6">
		<div>From Arlanda you can either rent a car or take the train (40 Uppsala C) towards Uppsala. In Uppsala you should transfer to the
			Eckerö line bus which final destination is the port of Grisslehamn, the bus leaves from
			Uppsala Resecentrum/Stationsgatan hpl E7. The bus is included in the ferry ticket.
			The ferry to the Åland Islands departs three times a day. At 10am, 3pm and 8pm. For more information see <a href="https://www.eckerolinjen.se/en/busconnection">here</a>.
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
	</div>
	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">
		<div>If flying to Skavsta the best option is to take <a href="https://global.flixbus.com/">FlixBus</a> or
			<a href="https://www.flygbussarna.se/en/">Flygbussarna</a>
			to the Central station of Stockholm and take the corresponding
			Eckerö line bus from there.</div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
		<b>What to do in the Åland islands?</b>
	</div>
	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">
		<div>Except for the actual wedding there will be other activities for guests arriving early but details regarding
			this will be presented when we get closer to the big day. There are also plenty of tourist destinations to
			visit while in Åland, perhaps a visit to the <a href="https://www.museum.ax/vara-museer-och-sevardheter/kastelholms-slott">Castle of Kastelholm</a>.
			For the beer enthusiast the gastropub and brewery <a href="https://www.stallhagen.com/en/">Stallhagen</a> has a
			wide variety of Åland brewed beer and good food.
			For the guests that can't get enough of travelling by boat a trip with <a href="https://sunnan.ax/en/">Sunnan II</a> could be a good alternative.
			Please see <a href="https://www.visitaland.com/en/">Visit Aland</a> for more information on what to do in Åland.</div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
		<b>How is the weather?</b>
	</div>
	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">
		<div>While the average temperature in June is 18° the weather in the Åland Islands can vary so make sure to
			bring clothes for different types of weather. As we say in Sweden, there are no bad weather, just bad clothing.</div>
	</div>
</div>
<div class="row mt-3">
	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">
		<b>What about covid-19?</b>
	</div>
	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">
		<div>Finland, as most countries has had different travel restrictions on and off. We don't forsee
		any problem with entering Finland in June. Hopefully the situation is improved when summer comes but
			<a href="https://www.visitaland.com/en/good-to-know/corona/">here</a> you can find updated travel restrictions for Åland. Please
		keep yourself updated and ask us if you have any questions at all. As there will be around 60-80 guests attending the reception
		and some are in risk groups we encourage all guests to get vaccinated. This will also alleviate issues with travelling.</div>
	</div>
</div>
{% endblock %}