{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="text-start col-md-3 col-md-offset-1">
		<div>{{gettext('Location: ')}}</div>
	</div>
	<div class="text-start col-md-6 col-md-offset-1">
		<div>{{gettext('The wedding takes place on the Åland Islands in Finland. The ceremony in the ')}}<a href="https://goo.gl/maps/jAPNTHfyGBnojdka9">church of Saltvik</a>
		and the reception at <a href="https://www.karingsund.ax/en">Käringsund Resort & Conference</a></div>
	</div>
</div>
<br/>
<div class="row">
	<div class="text-start col-md-3 col-md-offset-1">
		<div>{{gettext('Where to stay: ')}}</div>
	</div>
	<div class="text-start col-md-6 col-md-offset-1">
		<div>There are several hotels close by to the resort where the reception is held. But we suggest at you stay at that resort and
			guests that stay at Käringsund Resort & Conference are offered a discount of 15% on the room charge. Please use the code VERA&KRISTIAN when doing reservations.</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="text-start col-md-3 col-md-offset-1">
		<div>{{gettext('How to get there: ')}}</div>
	</div>
	<div class="text-start col-md-6 col-md-offset-1">
		<div>The easiset way, travelling from outside of Sweden or Finland, is to fly to Arlanda Airport or Skavsta Airport.
		From Arlanda the best option is to take the bus 801 towards Uppsala (UL, yellow buses). In Uppsala you should transfer to the
		Eckerö line bus which final destination is the port of Grisslehamn. The bus is included in the ferry ticket. The ferry to the Åland Islands
		departs three times a day. At 10am, 3pm and 8pm. The bus from Uppsala departs 2h prior to the corresponding ferry departure.</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="text-start col-md-3 col-md-offset-1">
	</div>
	<div class="text-start col-md-6 col-md-offset-4">
		<div>If flying to Skavsta the best option is to take the bus to the Central station of Stockholm and take the corresponding
			Eckerö line bus from there, that departs 2.5h prior to ferry departure.</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="text-start col-md-3 col-md-offset-1">
	</div>
	<div class="text-start col-md-6 col-md-offset-4">
		<div>Useful links: <a href="https://www.eckerolinjen.se/en/index.html">Eckerö line homepage for booking ferry.</a>
			(note that this doesn't need to be booked more than a few days ahead of time unless if you want to bring a car with you on the ferry</div>
		<div><a href="https://www.ul.se/en">UL (for bus schedule from Arlanda to Uppsala)</a></div>
	</div>
</div>
{% endblock %}
