
{% extends "base.html" %}

{% block content %}
<h3 class="display-6 text-muted fs-4">
	Our story
</h3>
<h3 class="display-6 text-muted mt-4 fs-6">
	{{gettext('It was 4th of june 2019 when Vera and Kristian’s love story first began, just 2 single thirty-somethings who happened to swipe right.
	')}}
</h3>
<div class="row">
	<div class="col-md-6 offset-md-3 mb-4 mt-3 mb-lg-0">
		<img
				src="/static/img/gallery1.jpg"
				class="shadow-1-strong rounded mb-4"
				alt="Boat on Calm Water"
		/>
	</div>
</div>
<h3 class="display-6 text-muted mt-3 fs-6">
	{{gettext('After discovering a mutual love of good food, fotboll, travel, road trips and hiking numbers were exchanged
	and a first date took place. ')}}
</h3>

<div class="row">
	<div class="col-md-6 offset-md-3 mb-4 mt-3 mb-lg-0">
		<img
				src="/static/img/gallery7.jpg"
				class="shadow-1-strong rounded mb-4"
				alt="Wintry Mountain Landscape"
		/>
	</div>
</div>

<h3 class="display-6 text-muted mt-3 fs-6">
	{{gettext('After 3,5 hours of talking we both understood that we had so much to share with each-other.
	While Kristian loved Vera’s warmth and way of spreading joy and Vera fell in love with Kristian’s heart,
	we both knew this was the beginning of a long journey together. It felt right from the first moment!	')}}
</h3>
<div class="row">
	<div class="col-md-6 offset-md-3 mb-4 mt-3 mb-lg-0">
		<img
				src="/static/img/gallery3.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Boat on Calm Water"
		/>
	</div>
</div>

<h3 class="display-6 text-muted mt-3 fs-6">
	{{gettext('In 2020 we bought our first home and moved in together. After almost 1 year of living 24/7 with each
	other we both wanted to take the next step and be Mr&Mrs (Banaj/Johansson/Banaj-Johansson…to be discussed) but
	nobody had popped the question.
	')}}
</h3>
<div class="row">
	<div class="col-md-6 offset-md-3 mb-4 mt-3 mb-lg-0">
		<img
				src="/static/img/gallery2.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Mountains in the Clouds"
		/>
	</div>
</div>

<h3 class="display-6 text-muted mt-3 fs-6">
	{{gettext('It seems like both of us had planned to propose while being in Las Vegas but because
	of the pandemic our trip to the USA got cancelled. Instead we said YES while having a romantic evening close to one
	of many amazing lakes that Stockholm has.
	')}}
</h3>

<div class="row">
	<div class="col-md-6 offset-md-3 mb-4 mt-3 mb-lg-0">
		<img
				src="/static/img/gallery6.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Waves at Sea"
		/>
	</div>
</div>

<h3 class="display-6 text-muted mt-3 fs-6">
	{{gettext('We are so looking forward to tying the knot and celebrating the start of our new chapter together with all of our favourite people!
	')}}
</h3>

<div class="row">
	<div class="col-md-6 offset-md-3 mb-4 mt-3 mb-lg-0">
		<img
				src="/static/img/gallery4.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Yosemite National Park"
		/>
	</div>
</div>

<h3 class="display-6 mt-3 text-muted fs-4">
	{{gettext('Welcome to our happily after!')}}
</h3>
{% endblock %}
