
{% extends "base.html" %}

{% block content %}
<h3 class="display-6 text-muted">
	Vera and Kristian
</h3>
<div class="row">
	<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
		<img
				src="/static/img/gallery1.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Boat on Calm Water"
		/>

		<img
				src="/static/img/gallery5.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Wintry Mountain Landscape"
		/>
	</div>

	<div class="col-lg-4 mb-4 mb-lg-0">
		<img
				src="/static/img/gallery4.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Mountains in the Clouds"
		/>

		<img
				src="/static/img/gallery3.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Boat on Calm Water"
		/>
	</div>

	<div class="col-lg-4 mb-4 mb-lg-0">
		<img
				src="/static/img/gallery6.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Waves at Sea"
		/>

		<img
				src="/static/img/gallery2.jpg"
				class="w-100 shadow-1-strong rounded mb-4"
				alt="Yosemite National Park"
		/>
	</div>
</div>
<h3 class="display-6 text-muted">
	Bachelor party (stay tuned!)
</h3>
<h3 class="display-6 text-muted">
	Bachelorette party (stay tuned!)
</h3>
{% endblock %}
