
{% extends "base.html" %}

{% block content %}
<h1 class="title invitation">
	Dear {{guests}}
</h1>

<h1 class="title invitation">
	{{gettext('The honor of your presence is requested at the wedding ceremony and reception of Vera and Kristian')}}
</h1>

<h1 class="title invitation">
	{{gettext('Saturday the 11th of June 2022 at the church of Saltvik in Åland, at 3pm')}}
</h1>

<h1 class="title invitation">
	{{gettext('While we adore your children, this time we wish to celebrate with our adult friends and family. Breastfeeding children are of course welcome.')}}
</h1>

<h1 class="title invitation">
	{{gettext('If you wish to make a speech please inform either toast master Niclas Karlsson (email, phonenr) or toast madame
	Tina Banaj (email phonenr) in advance.')}}
</h1>

<h1 class="title invitation">
	{{gettext('More detailed information about the ceremony and reception will be found under Itinerary')}}
</h1>

{% endblock %}
<br/>
