
{% extends "base.html" %}

{% block content %}
<div class="col-md-8 offset-md-2">
	<p class="display-6 fs-4">
		{{gettext('It is with great pleasure we invite you')}}
	</p>

	<p class="display-6 mt-3 fs-4 fst-italic">
		{{guests}}
	</p>

	<p class="display-6 mt-3 fs-4">
		{{gettext('to the forthcoming wedding of')}}
	</p>

	<p class="display-6 mt-3 fs-4 fst-italic">
		{{gettext('Pranvera Banaj & Kristian Johansson')}}
	</p>

	<p class="display-6 mt-4 fs-4">
		{{gettext('Saturday the 11th of June 2022 at the church of Saltvik in Åland, at 3pm, and the subsequent reception
		at Käringsund Resort & Conference.')}}
	</p>

	<h2 class="col-md-8 offset-md-2 decorated display-6 mt-4 text-muted fs-6 fw-bold"><span>Information</span></h2>

	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('There will be a bus taking guests back and forth from the resort to the church where the ceremony is held,
		or just the trip from the church to the resort for those not staying at Käringsund.')}}
	</p>

	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('While we love your children, this time we wish to celebrate with our adult friends and family and
		therefore respectfully request no children at the reception (breastfeeding ones are of course welcome')}}.
	</p>
	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('* To the ceremony at the church, all children are more than welcome.')}}
	</p>
	<h2 class="col-md-8 offset-md-2 decorated display-6 mt-4 text-muted fs-6  fw-bold"><span>Key people</span></h2>

	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('Please notify either toastmaster or toastmadame in advance if you wish to make a speech or any other
		contribution to the itinerary:')}}
	</p>

	<div class="text-muted fs-6 mt-4">
		Niclas Karlsson
	</div>
	<div class="text-muted fs-6">
		<div>+358 457 37 49 790</div>
	</div>
	<div class="text-muted fs-6">
		<div>niclas.karlsson@hotmail.com</div>
	</div>


	<div class="text-muted mt-2">
		Altina Banaj
	</div>
	<div class="text-muted">
		<div>+355 67 404 0840</div>
	</div>
	<div class="text-muted">
		<div>altinabanaj@hotmail.com</div>
	</div>

	<h2 class="col-md-8 offset-md-2 decorated display-6 mt-4 text-muted fs-6  fw-bold"><span>Gifts</span></h2>

	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('As we’ve lived together for a year or two,')}}

		{{gettext('we really don’t need anything new.')}}
	</p>

	<p class="display-6 text-muted fs-6">
		{{gettext('But if you were thinking of getting us a small wedding gift, ')}}
	</p>

	<p class="display-6 text-muted fs-6">
		{{gettext('some money for our honeymoon wouldn’t go amiss!')}}
	</p>

	<p class="display-6 text-muted fs-6 mt-5">
		{{gettext('However, please do not let our preference shut your gift idea down,')}}
		{{gettext('if you have already come up with one.')}}
		{{gettext('By all means, go ahead and buy us that toaster! :)')}}

	</p>

	<h2 class="col-md-8 offset-md-2 decorated display-6 mt-4 text-muted fs-6  fw-bold"><span>Dress code</span></h2>

	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('Elegant dress')}}
	</p>

	<h2 class="col-md-8 offset-md-2 decorated display-6 mt-4 text-muted fs-6 fw-bold"><span>RSVP</span></h2>

	<p class="mt-4 display-6 text-muted fs-6">
		Kindly RSVP no later than the 31st of March
	</p>

	<h2 class="col-md-8 offset-md-2 decorated display-6 mt-4 text-muted fs-6  fw-bold"><span>Stay tuned</span></h2>

	<p class="mt-4 display-6 text-muted fs-6">
		{{gettext('More detailed information about the entire weekend will be coming shortly.')}}
	</p>
</div>
{% endblock %}
<br/>
