{% extends "base.html" %}

{% block content %}
<p class="display-6 text-muted fs-3">
    Please note that you will be able to change your response until the 31st of March
</p>
<div class="row mt-5 ">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="notification is-success ">
                {{ msg }}.
            </div>
        {% endfor %}
    {% endif %}

    {% if error %}
        <div class="notification is-danger col-md-6 col-md-offset-3 text-center">
            {{ error }}
        </div>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('main.save_email') }}" class="row" method="post">
        <div class="col-sm-6 text-start">
            {% if user.email == None or user.email == "" %}
                <label for="email">Enter email address to continue (will be used for communication):</label>
            {% else %}
                <label for="email">Email address (will be used for communication):</label>
            {% endif %}

            <input type="email"
                   class="input form-control"
                   id="email"
                   name="email"
                   required="true"
                   {% if user.email != None %}value="{{user.email}}"{% endif %}
                   placeholder="Email address">

        </div>
        <div class="col-sm-3 mt-4">
            <button id="emailButton" type="submit" class="btn btn-primary">Save email</button>
        </div>
    </form>
</div>
{% if guests != None and user.email != None and user.email != "" %}
<p class="display-6 text-muted fs-3 mt-5">
    Remember to RSVP for each guest
</p>
<div class="accordion mt-2 transition-delay" id="weddingAccordion">
    {% for guest in guests %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_{{guest.id}}">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#body_{{guest.id}}"
                    aria-expanded='true'
                    aria-controls="body_{{guest.id}}">
                <div class="col-sm-3 text-center">
                    {% if guest.nonAlcoholic != None and not guest.nonAlcoholic %}
                        <i class="bi bi-cup-straw"></i>
                    {% endif %}

                    {% if guest.isAttending %}
                        <i class="bi bi-check-lg"></i>
                    {% endif %}

                    {% if not guest.hasResponded %}
                        <i class="bi bi-question"></i>
                    {% endif %}

                    {{guest.name}}
                </div>
            </button>
        </h2>
        <div id="body_{{guest.id}}"
             {% if guest.id == guests[0].id %}
                class="accordion-collapse collapse show"
             {% else %}
                class="accordion-collapse collapse"
             {% endif %}
             aria-labelledby="heading_{{guest.id}}"
             data-bs-parent="#weddingAccordion">
            <div class="accordion-body">
                <form action="{{ url_for('main.submit_osa') }}" method="post">
                    <div class="row">
                        <div class="col-sm-4 text-start">
                            <input type="checkbox" class="form-check-input" id="attending_{{guest.name}}"
                                   name="attending_{{guest.name}}"
                                   {% if guest.isAttending %}checked="checked"{% endif %}>
                            <label for="attending_{{guest.name}}" class="">Is attending</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-4 text-start">
                            <input type="checkbox" class="form-check-input text-left" id="nonAlco_{{guest.name}}"
                                   name="nonAlco_{{guest.name}}"
                                   {% if guest.nonAlcoholic %}checked="checked"{% endif %}>
                            <label for="nonAlco_{{guest.name}}" class="">No alcohol</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-start mt-3">
                            <label for="food_{{guest.name}}" class="control-label">Food preferences</label>
                            <input type="text" class="input form-control" id="food_{{guest.name}}"
                                   name="food_{{guest.name}}"
                                   placeholder="E.g allergic to fish, vegan, etc"
                                   pattern="^[ÅåÄäÖöa-zA-Z\.\-, ]+$"
                                   {% if guest.foodPreferences != None %}value="{{guest.foodPreferences}}"{% endif %}>
                        </div>
                        <div class="col-sm-6 text-start mt-3">
                            <label for="song_{{guest.name}}" class="">Suggest a song for the party</label>
                            <input type="text"
                                   class="input form-control"
                                   id="song_{{guest.name}}"
                                   name="song_{{guest.name}}"
                                   placeholder="E.g Dont stop believin"
                                   {% if guest.song != None %}value="{{guest.song}}"{% endif %}
                                   pattern="^[ÅåÄäÖöa-zA-Z\.\-, ]+$">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <input type="hidden" name="guest_name" value="{{guest.name}}" />
                        <div class="col-sm-4 text-start">
                            <button type="submit" class="btn btn-primary pull-right">Save guest</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<script style="text/javascript">
    $(document).ready(function() {
            var email = '{{ user.email }}';
            var messages = '{{ get_flashed_messages() }}'
            if (email != undefined && email.length > 0 && (messages === undefined || messages.length < 3 || messages.includes("Email saved succ"))){
                $(document).scrollTop($(document).height());
            }
        });
</script>
{% endblock %}