{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <h2>Current responses</h2>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-12">
        <div class="row">
			<div class="col-md-2">Name</div>
			<div class="col-md-3">Food preferences</div>
			<div class="col-md-3">Song suggestion</div>
			<div class="col-md-2">No alcohol</div>
			<div class="col-md-2">Is attending</div>
		</div>
		{% if guests != None %}

			{% for guest in guests %}
				<div class="row">
					<div class="col-md-2">{{guest.name}}</div>
					<div class="col-md-3">{{guest.foodPreferences}}</div>
					<div class="col-md-3">{{guest.song}}</div>
					<div class="col-md-2"><input type="checkbox" class="form-control" id="nonAlco_{{guest.name}}"
												 name="nonAlco_{{guest.name}}" disabled=true
												 aria-label={{'checked' if guest.nonAlcoholic else ''}}>
					</div>

					<div class="col-md-2"><input type="checkbox" class="form-control" id="attending_{{guest.name}}"
												 name="attending_{{guest.name}}" value="{{guest.isAttending}}" aria-label={{'checked' if
												 guest.isAttending else ''}}></div>
				</div>
			{% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}