{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <h2>Current responses</h2>
    </div>
</div>
<br/>
<table class="table table-sm table-striped">
    <thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Has responded</th>
			<th scope="col">Food preferences</th>
			<th scope="col">Song suggestion</th>
			<th scope="col">Alcohol</th>
			<th scope="col">Is attending</th>
		</tr>
    </thead>
    {% if guests != None %}
		<tbody>

		{% for guest in guests %}
			<tr>
				<td {% if guest.isAttending %}class="table-success"{% endif %} scope="row">{{guest.name}}</td>
				<td {% if guest.isAttending %}class="table-success"{% endif %}>{% if guest.hasResponded %} Yes {% else %} No {% endif %}</td>
				<td {% if guest.isAttending %}class="table-success"{% endif %}>{{guest.foodPreferences}}</td>
				<td {% if guest.isAttending %}class="table-success"{% endif %}>{{guest.song}}</td>
				<td {% if guest.isAttending %}class="table-success"{% endif %}>{% if guest.nonAlcoholic %} No {% else %} Yes {% endif %}</td>
				<td {% if guest.isAttending %}class="table-success"{% endif %}>{% if guest.isAttending %} Yes {% else %} No {% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>

    {% endif %}
</table>

{% endblock %}