{% extends "base.html" %}
{% block content %}

<!--<div class="row mt-3">-->
<!--	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">-->
<!--		<b>Saturday 13:45</b>-->
<!--	</div>-->
<!--	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">-->
<!--		<div>Bus departs from Käringsund resort</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="row mt-3">-->
<!--	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">-->
<!--		<b>Saturday 15:00</b>-->
<!--	</div>-->
<!--	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">-->
<!--		<div>The ceremony begins</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="row mt-3">-->
<!--	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">-->
<!--		<b>Saturday 17:00</b>-->
<!--	</div>-->
<!--	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">-->
<!--		<div>Pre drinks and mingle</div>-->
<!--	</div>-->
<!--</div>-->
<!--<div class="row mt-3">-->
<!--	<div class="text-start  text-muted fs-6  col-md-3 col-md-offset-1">-->
<!--		<b>Saturday 18:00</b>-->
<!--	</div>-->
<!--	<div class="text-start  text-muted fs-6  col-md-6 col-md-offset-4">-->
<!--		<div>Dinner</div>-->
<!--	</div>-->

<h3 class="display-6 text-muted fs-4">
	The wedding ceremony will be starting at 3pm in the church of Saltvik but a more detailed itinerary will be announced shortly. Stay tuned.
	There will be activites for guests arriving before Saturday.
</h3>
</div>
{% endblock %}
